# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Output data (VERY IMPORTANT)
output/
temp_*.pdf

# Logs
*.log

# IDE
.vscode/
.idea/

# Memory file
memory.json

# Jupyter (if you ever use it)
.ipynb_checkpoints/